@model ProductViewModel

@functions {
    public abstract class prd
    {
        public static object ProductId { get; set; }
    }
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select name="category" class="form-select" asp-items="@ViewBag.Categories">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-m1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table table-bordered table table-striped">
    <thead>
    <tr>
        <th style="width: 100px">@Html.DisplayNameFor(m => m.ProductId)</th>
        <th style="width: 100px">@Html.DisplayNameFor(m => m.Image)</th>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th style="width: 100px">@Html.DisplayNameFor(m => m.Price)</th><td style="width: 100px"></td>
        <th style="width: 130px"></th>
    </tr>
    </thead>
    <tbody>

    @for (var i=0; i < @Model.Product.Count; i++)
    {
        <tr>
            <td>
                @Model.Products[i].ProductId
                <input type="hidden" asp-for="@Model.Products[i].ProductId">
            </td>
            <td>
                <img src="~/img/@Model.Products[i].Image" class="img-fluid" alt="">
            </td>
            <td>@Model.Products[i].Name</td>
            <td>@Model.Products[i].Price</td>
            <td>
                <input type="checkbox" asp-for="@Model.Products[i].IsActive">
            </td>
            <td>
                <a href="/Home/Edit/@prd.ProductId" class="btn btn-sm btn-primary">Edit</a>
                @* kaynak talebi *@
                <a href="/Home/Delete/@prd.ProductId" class="btn btn-sm btn-danger">Delete</a> 
            </td>
        </tr>
    }
    </tbody>
</table>

<button type="submit" class="btn btn-primary">Kaydet</button>